.main-container {  
  max-width: 1024px;
  margin: 0 auto;  
  background-color: #dff8f4;
}

.contact {
  font-weight: 500;
  line-height: 45px;
}

.header {
  padding-top: 82px; 
}

.header-container {  
  background-color: #e0dfe5;
}

.header-text {
  padding-top: 70px;
  padding-bottom: 70px; 
}

  .header-text__title {
    font-size: 36px;
    color: #6e6e6e;
    font-weight: 500; 
  }

  .header-text__title_orange {
    color: #fc7254; 
  }

  .header-text__colum {
    text-align: center; 
  }    
 
.name-first-name {
  font-weight: 700;
  font-size: 34px; 
}

.photo {
  border: 1px solid #706b73;
  border-radius: 10%;
}

.send-form {
  margin-top: 97px; 
}

  .send-form .form {
    width: 100%;
    height: 387px;
    background-color: white;
    box-shadow: 0 -5px 25px 0 rgba(0, 0, 0, 0.4); 
  }

    .send-form .form__title {
      display: flex;
      width: 100%;
      height: 65px;
      justify-content: center;
      align-items: center;
      color: #6e6e6e;
      font-weight: 500; 
    }

      .send-form .form__title_orange {
        color: #fc7254; 
      }

.form-inp {
  display: flex;
  flex-direction: column;
  padding: 0 39px; 
}

  .form-inp__input {
    outline: none;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    margin-bottom: 30px;
    padding: 9px 0; 
  }

    .form-inp__input_area {
      height: 90px;
      resize: none;
      margin-bottom: 20px; 
    }

  .form-inp__helper {
    text-align: center;
    position: relative; 
  }

    .form-inp__helper-button {
      background-color: #fc7254;
      outline: none;
      border: none;
      height: 54px;
      color: white;
      cursor: pointer;
      border-radius: 27px;
      width: 236px; 
    }

.card-item {
  height: 263px;
  width: 100%;
  transition: 0.4s;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 53px 47px 0 47px;
  color: white; 
}

  .card-item_lbl {
    background-color: #4eb2f7; 
  }

  .card-item_vl {
    background-color: #c049f8; 
  }

  .card-item_bl {
    background-color: #817eff; 
  }

  .card-item_cr {
    background-color: #f74770; 
  }

  .card-item:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6); 
  }

  .card-item:hover > .card-item__button {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.6); 
  }

  .card-item__button {
    width: 230px;
    height: 54px;
    border-radius: 27px;
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -27px;
    left: 50%;
    transform: translateX(-115px);
    transition: .3s;
    padding-left: 17px;
    color: #686868; 
  }

    .card-item__button:before {
      content: '+';
      font-size: 24px;
      position: absolute;
      top: 8px;
      left: 58px; 
    }

  .card-item__img {
    margin-bottom: 23px;
  }
  
  .card-item__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px; 
  }  

.cards {
  margin-top: 11px; 
}

.education-content{
  padding:60px; 
}

.education-text {
  font-weight: 700;
  font-size: 34px;
  color: #817eff;
}

.profile-row {      
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;  
}

.ng-binding {  
  margin: auto 20px;
}
